
h1, h2, h3 {
  font-family: 'Josefin Slab', serif;
  font-weight: 700;
  font-style: italic;
  color: #374a99;

}
p {
  font-family: 'Ubuntu', sans-serif;
  color: #000000;
}
hr {
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

/* HEADER NAV */

header {
  background:url(img/background_trans.png) no-repeat center ;
  height: 40rem; 
  background-size: cover;
  justify-content: center;
}
.navbar {
  height:3rem;
}
.navbar-link {
  color: #374a99;
  padding-top: 1rem;
  justify-content: flex-start;
  font-family: 'Josefin Slab', serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 2rem;
}
.row-title {
  margin: 10%;
  padding-top: 23%;
  text-align: center;
}

/* NEWS */

.covid-info {
  background-color: #374a99;
}
.img-thumbnail.img-news{
  width: 200px;
  margin: 3rem 1rem 1rem 0rem;
  height: 14rem;
}
.card-size {
  min-height: 20rem;
}

/* TEAM */

.name-team {
  margin: 1.3rem;
}
.img-team-section{
  margin-top: 7%;
  border-radius: 32%;
}
.container-fluid.teammate {
  width: 98%;
}
.text-team {
  width: 70%;
  margin: auto;
  text-align: justify;
}
/* CONTACT */

.map-container-6{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }
  .map-container-6 iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }
  .md-form {
    margin-bottom: 1rem;
    font-family:'Ubuntu', sans-serif;
  }

  /* EVENT */

  .title-event {
    font-size: 6rem;
  }
  
  .card-text-event {
    margin: auto;
    margin-bottom: 1rem;
  }


  /* FOOTER */

  footer {
    height: 10rem;
    background: #374a99;
  }
 .logo-footer {
    margin: 2rem;
  }

  /* MEDIA QUERY */

  @media (max-width: 793px) {
    .row-title {
      padding-top: 23%;
    }
  }
  @media (max-width: 991px) {
    .text-team {
      margin-bottom: 1rem;
    }
    .navbar-link {
      margin-top:0;
    }
    .navbar-link > ul > li > a {
      padding: 0;
    }
    .navbar-brand {
      display: none;
    }
    .title-event {
      font-size: 3rem;
    }
  }
  @media (min-width: 2500px) {
    .row-title {
      padding-top: 17%;
    }
  }
