
header {
  background-image:url(img/1894837.jpg);
  height: 40rem; 
  background-size: cover;
  font-family: 'Source Serif Pro', serif;
  color: #34a4eb;
  
}

.navbar {
  height: 3rem;
  color: #34a4eb;
}