/* font-family: 'Jura', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Ubuntu', sans-serif;*/

header {
  background:url(img/1894837.jpg) no-repeat center ;
  height: 40rem; 
  background-size: cover;
  font-family: 'Merriweather', serif;
  color: #000000;
  justify-content: center;
}
.navbar {
  height: 3rem;
}
.navbar-link {
  color: #34a4eb;
  padding-top: 1rem;
  justify-content: flex-end;
  font-family: 'Source Serif Pro', serif;
}
.row-title {
  margin: 10%;
  padding-top: 10%;
  text-align: center;
}
.text-title {
  padding-top: 20%;
  
}
.card-index {
  color: black;
}

